/* Estilos gerais */
body {
    background-color: #f8f3e9; /* Creme claro para um fundo suave */
    font-family: 'Georgia', serif; /* Fonte clássica e sofisticada */
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho e rodapé */
header, footer {
    background-color: #4b2e2a; /* Marrom escuro */
    color: #ffffff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-family: 'Georgia', serif;
}

footer p {
    margin-bottom: 0;
}

/* Estilos dos formulários de login e cadastro */
.form-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
    height: 500px;
    display: flex;
    transition: height 0.6s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

.form-panel {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.left-panel {
    background: #f2e6d8; /* Creme suave */
    color: #000000; /* Texto escuro para contraste */
    z-index: 1;
    transform: translateX(0%);
}

.right-panel {
    background: #f2e6d8; /* Creme suave */
    color: #000000; /* Texto escuro para contraste */
    transform: translateX(100%);
    opacity: 0;
    z-index: 0;
}

/* Transições entre os painéis */
.form-container.active .left-panel {
    transform: translateX(-100%);
    opacity: 0;
    z-index: 0;
}

.form-container.active .right-panel {
    transform: translateX(0%);
    opacity: 1;
    z-index: 1;
}

/* Estilo dos botões de alternância */
.btn-link {
    margin-top: 10px;
    display: block;
    color: #4b2e2a; /* Cor do texto do botão para harmonizar */
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

/* Estilo dos botões */
.btn-primary {
    background-color: #4b2e2a; /* Consistência com o cabeçalho e rodapé */
    border-color: #4b2e2a;
}

.btn-primary:hover {
    background-color: #3a231e;
    border-color: #3a231e;
}

.btn-success {
    background-color: #4b2e2a; /* Marrom suave para harmonizar */
    border-color: #4b2e2a;
}

.btn-success:hover {
    background-color: #3a231e;
    border-color: #3a231e;
}
